.connect__section {
    color: white;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 90px;
    background-image: url('/img/back-light.png');
    background-size: cover;
    background-size: 100% 100%;
    background-position: top -30px left 0px;
    background-repeat: no-repeat;
    overflow: visible;
}

.connect__content {
    display: flex;
    align-items: center;
    @media (max-width:768px){
        flex-wrap: wrap;
    }
}


.connect__title {
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;
    @media (max-width:340px){
        font-size: 22px;
        line-height: 28px;
        margin-left: 20px;
    }
    @media (max-width:768px){
        font-size: 24px;
        line-height: 28px;
        margin-left: 30px;
    }
}
.connect__desk {
    font-style: normal;
    font-weight: 350;
    font-size: 24px;
    line-height: 35px;
    @media (max-width:340px){
        margin-top: 20px;
        font-size: 14px;
        line-height: 18px;
        margin-left: 20px;
    }
    @media (max-width:768px){
        margin-top: 20px;
        font-size: 18px;
        line-height: 22px;
        margin-left: 30px;
    }
    
}
.connect__button {
    margin-left: 220px;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #FAFAFA;
    width: 248px;
    height: 248px;
    padding-top: 107px;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
    &:hover{
        opacity: 0.8;
        box-shadow: 0px 0px 5px 3px white;
    }
    @media (max-width:340px){
        margin-top: 40px;
        margin-left: 90px;
        width: 124px;
        height: 124px;
        padding-top: 43px;
        font-size: 18px;
        line-height: 22px;
    }
    
    @media (max-width:768px){
        margin-top: 40px;
        margin-left: 90px;
        width: 248px;
        height: 248px;
        padding-top: 107px;
        font-size: 24px;
        line-height: 32px;
    }
    @media (max-width:400px){
        margin-top: 40px;
        margin-left: 110px;
        width: 150px;
        height: 150px;
        padding-top: 60px;
        font-size: 18px;
        line-height: 28px;
    }
}