.form__wrapper {
    margin-top: 70px;
    @media (max-width:1370px){
        margin-top: 70px; 
    }
}
.form__content-title{
    background: linear-gradient(90.52deg, #22A1FF -5.53%, #CA1FFF 14.35%, #FFE101 50.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-form__title {
    font-weight: 400;
    font-size: 35px;
    line-height: 52px;
    text-align: start;
    color: #FFFFFF;
}

.contact-form{
    @media (max-width: 768px){
        padding-left: 30px;
    }
}
.contact-form__input {
    background-color: #050412;
    color: white;
    font-weight: 350;
    font-size: 24px;
    line-height: 35px;
    border-bottom: 1px solid white;
}
.contact__row{
    margin-top: 70px;
}
.w-357{
    display: flex;
    gap: 106px;
    margin-top: 70px;
    .contact-form__input {
        width: 357px;
        border-bottom: 1px solid white;
        padding-bottom: 15px;
        padding: 15px;
        
        &:focus{
            box-shadow: 0px 5px 15px -5px white;
        }
    }
    @media (max-width:1370px) {
        gap: 50px;
        .contact-form__input {
            width: 300px;
            
        }
        flex-wrap: wrap;
        margin-top: 70px;
    }
}




.about--project--form {
    margin-top: 130px;
    @media (max-width:1370px){
        margin-top: 50px;
    }
}
.contact-form__input_message {
    margin-top: 70px;
    width: 1259px;
    padding: 15px;
    &:focus{
        box-shadow: 0px 5px 15px -5px white;
    }
    @media (max-width:1370px){
        width: 1000px;
    }
    @media (max-width: 768px){
        width: 80%;
    }
}

.contact-form__button {
    margin-top: 60px;
    font-weight: 350;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 17px 103px;
    background-color: #050412;
    border: 1px solid white;
    transition: all 0.3s;
    &:hover{
        box-shadow: 0px 0px 5px 3px white;
    }
}


.arrow--to-back{
    margin-bottom: 70px;
    @media (max-width:768px){
        padding-left: 30px;
    }
}
.arrow--back-link{
    display: block;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    transition: all 0.3s;
    &:hover{
        box-shadow: 0px 0px 5px 3px white;
    }
}


.modal-success{
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #050412;
    border: 1px solid #F8F8F8;
    border-radius: 5px;
    padding: 62px 0px 57px;
    width: 770px;
    display: flex;
    justify-content: center;
    text-align: center;
    display: none;
    &__logo{
        margin-bottom: 23px
    }
    &__text{
        margin-bottom: 42px;
        font-weight: 350;
        font-size: 30px;
        line-height: 44px;
        color: #FFFFFF;
    }
    &__button{
        background: #050412;
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 255px;
        height: 55px;

        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        color: white;
    }
}