.last-projects__section {
    margin-top: 240px;
    @media (max-width:768px) {
        margin-top: 100px;
    }
}

.last-projects__content {
    
    .proj__title {
        background: linear-gradient(90.52deg, #22A1FF -5.53%, #CA1FFF 14.35%, #FFE101 70.36%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        @media (min-width: 1600px) {
            background: linear-gradient(90.52deg, #22A1FF -5.53%, #CA1FFF 14.35%, #FFE101 40.36%);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(0,0,0,0);
            background-clip: text;
            -webkit-text-fill-color: rgba(0,0,0,0);
        }
        @media (max-width:768px){
            background: linear-gradient(90.52deg, #22A1FF -5.53%, #CA1FFF 24.35%, #FFE101 90.36%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-text-fill-color: transparent;
            font-size: 28px;
            margin-left: 30px;
        }
        
    }
    
}

.proj__row {
    margin-top: 80px;
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    @media (max-width:1370px) {
        gap: 30px;
    }
    @media (min-width:1900px) {
        gap: 200px;
    }
    @media (max-width:768px){
        padding-left: 30px;
        margin-top: 50px;
    }
    @media (max-width:400px){
        padding-left: 30px;
        margin-top: 50px;
    }
    @media (max-width:380px){
        padding-left: 30px;
    }
    
    @media (max-width:330px){
        padding-left: 30px;
    }
}
.proj__item {
    
    max-width: 570px;
    border-radius: 10px;
    @media (min-width: 1600px) {
        max-width: 650px;
    }
    @media (max-width:1370px) {
        max-width: 500px;
    }
    @media (min-width:1900px) {
        max-width: 650px;
    }
    @media (max-width:768px){
        width: 250px;  
    }
    .proj__img {
        @media (max-width:768px) and (min-width:440px){
            height: 150px;  
        }
        img{
            @media (min-width:768px) {
                max-width: 100%;
            }
            @media (max-width:768px){
                z-index: -1;  
            }
            border-radius: 10px;
            
        }
    }
    .proj__text {
        
        background-color: #131225;
        padding-left: 36px;
        border-radius: 10px;
        position: relative;
        padding-bottom: 50px;
        .text__title {
            font-weight: 500;
            font-size: 30px;
            line-height: 44px;
            color: #B1B1B1;
            padding-top: 40px;
            @media (max-width:768px){
                font-size: 18px;
                line-height: 20px;
                padding-top: 15px;
            }
        }
        .text__desk {
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            color: #FFFFFF;
            margin-top: 23px;
            @media (max-width:768px){
                font-size: 18px;
                line-height: 18px;
                margin-top: 15px;
            }
        }
        .text__btn--more {
            position: absolute;
            top: calc(100%/2 - 10px);
            right: 25px;
            cursor: pointer;
            &:hover{
                opacity: 0.7;
            }
        }
        @media (min-width:1900px) {
            height: 200px;
        }
        @media (max-width:768px){
            height: 120px;
            width: 350px;
        }
        @media (max-width:400px){
            height: 120px;
            width: 300px;
        }
        
        @media (max-width:340px){
            height: 100px;
            padding-left: 20px;
            width: 250px;
        }
    }
}


//animation


.single-box{
    width: 500px;
    height: 320px;
    perspective: 1200px;
    @media (min-width:1900px) {
        width: 650px;
    }
    @media (max-width:768px){
        width: 350px;
        height: 150px;
    }
    @media (max-width:400px){
        width: 250px;
        height: 150px;
    }
    @media (max-width:340px){
        width: 250px;
    }
}

.box__content{
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-150px);
    transition: all 1s;
}
.slides{
    position: absolute;
    width: 500px;
    height: 320px;
    border-radius: 20px;
    @media (min-width:1900px) {
        width: 650px;
    }
    @media (max-width:768px){
        width: 350px;
        height: 150px;
    }
    @media (max-width:400px){
        width: 300px;
        height: 150px;
    }
    @media (max-width:340px){
        width: 250px;
    }
}

.slide-1{
    transform: rotateY(0deg) translateZ(150px);
    z-index: 2;
    background-size: cover;
    background-position: center center;
    transition: all 1s;
}

.slide-2{
    transform: rotateY(90deg) translateZ(0px) translateX(-160px);
    color: white;
    z-index: 1;
    opacity: 0;
    transition: all 1s;
    background-position: -30px 0px;
    @media (min-width:1900px) {
        background-position: 0px 0px;
        background-size: cover;
    }
    @media (max-width:768px){
        background-position: 0px 0px;
        background-size: cover;
    }
    @media (max-width:768px) and (min-width:440px){
        background-position: 0px -20px; 
    }
}

.box:hover .box__content{
    transform: rotateY(-90deg) translateZ(-160px);
    .slide-1{
        opacity: 0;
    }
    .slide-2{
        opacity: 1;
    }
}




.proj--dop--text {
    margin-top: 70px;
    text-align: center;
    
}
.dop--text {
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    border-bottom: 1px solid white;
    &:hover{
        opacity: 0.7;
    }
}



// For projects filter


.projects__filter {
    display: flex;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #A0A0A0;

    @media (max-width: 768px) {
        overflow-y: scroll;
        font-size: 16px;
        line-height: 20px;
    }
}
.projects__item {
    padding-left: 30px;
    padding-right: 30px;
    padding: 15px 30px 15px 30px;
    transition: all 0.4s;
    cursor: pointer;
    &::before{
        content: "";
        display: block;
        width: calc(100% + 60px);
        height: 2px;
        background-color: #A0A0A0;
        margin-left: -30px;
    }
    &.active{
        transition: all 0.4s;
        color: #FFFFFF;
        &::before{
            content: "";
            display: block;
            width: calc(100% + 60px);
            height: 3px;
            background: linear-gradient(90.52deg, #22A1FF -15.53%, #CA1FFF 54.35%, #FFE101 117.36%);
        }
    }
}



.hidden{
    display: none;
}