.our-clients__section {
    margin-top: 240px;
    background-image: url('/img/back-light.png');
    background-size: cover;
    background-size: 100% 100%;
    background-position: top -30px left 0px;
    background-repeat: no-repeat;
    overflow: visible;
}

.our-clients__title {
    background: linear-gradient(90.52deg, #22A1FF -5.53%, #CA1FFF 14.35%, #FFE101 35.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    @media (max-width:768px){
        font-size: 34px;
        background: linear-gradient(90.52deg, #22A1FF -5.53%, #CA1FFF 24.35%, #FFE101 75.36%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: 30px;
    }
}

.clients__wrapper {
    margin-top: 119px;
    display: flex;
    align-items: center;
    gap: 108px;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10px;
    @media (max-width:768px){
        gap: 40px;
        margin-top: 20px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: space-between;
    }
    .clints__item{
        @media (max-width:768px){
            img{
                width: 90px;
            }
        }
    }
}









//testing


.client-no-big-logo{
    max-width: 150px;
}