.review__section{
    margin-top: 140px;
    padding-top: 50px;
    padding-bottom: 90px;
    height: 900px;
    background-image: url('/img/back-light.png');
    background-size: cover;
    background-size: 100% 110%;
    background-position: top 0px left 0px;
    background-repeat: repeat;
    @media (max-width:768px){
      height: 500px;
      margin-top: 40px;
    }
}

.review__title{
  @media (max-width:768px){
    font-size: 42px;
    margin-left: 30px;
    background: linear-gradient(90.52deg, #22A1FF -5.53%, #CA1FFF 14.35%, #FFE101 50.36%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-text-fill-color: transparent; 
  }
}
.slider {
    position: relative;
    width: 1060px;
    height: 300px;
    margin: 50px auto 0;
    /* Чтобы во время перетаскивания слайда ничего не выделить внутри него */
    user-select: none;
    /* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
    touch-action: pan-y;
    @media (max-width:330px){
      width: 250px;
      height: 300px;
    }
    @media (max-width:768px){
      height: 300px;
      width: 300px;
    }
  }
  
  /* Если где-то внутри слайдера будут изображения,
  то нужно задать им pointer-events: none,
  чтобы они не перетаскивались мышью */
  
  .slider img {
    -webkit-poiner-events: none;
  }
  
  .slider-list {
    width: 1060px;
    height: 500px;
    overflow: hidden;
    
    @media (max-width:768px){
      height: 300px;
      width: 330px;
    }
    @media (max-width:330px){
      height: 300px;
      width: 250px;
      margin-left: 25px;
    }
    
    .slide--text{
        font-weight: 350;
        font-size: 24px;
        line-height: 35px;
        color: #FFFFFF;
        
        @media (max-width:768px){
          font-size: 16px;
          line-height: 18px;
        }
        @media (max-width:330px){
          font-size: 14px;
          line-height: 18px;
        }
    }
    .slide--sign{
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;
        color: #A0A0A0;
        
        @media (max-width:768px){
          font-size: 16px;
          line-height: 18px;
        }
        @media (max-width:330px){
          font-size: 16px;
          line-height: 18px;
        }
    }
  }
  
  .slider-list.grab {
    cursor: grab;
  }
  
  .slider-list.grabbing{
    cursor: grabbing;
  }
  
  .slider-track {
    display: flex;
  }
  
  .slide {
    width: 500px;
    height: 500px;
    /* Чтобы слайды не сжимались */
    flex-shrink: 0;
    /* Увеличиваем и центрируем цифру внутри слайда */
    // font-size: 50px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // border: 1px solid #000;
    background-color: #131224;
    padding: 40px;
    margin-left: 30px;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width:768px){
      margin-left: 30px;
      &:nth-child(1){
        margin-left: 0px;
      }
      height: 300px;
      width: 300px;
      padding: 20px;
    }
    @media (max-width:330px){
      width: 250px;
      padding: 20px;
      height: 300px;
    }
  }
  
  .slider-arrows {
    margin-top: 15px;
    text-align: center;
  }
  
  .next,
  .prev {
    background: none;
    border: none;
    margin: 0 10px;
    font-size: 30px;
    cursor: pointer;
   
    color: #D9D9D9;
  }
  
  .next.disabled,
  .prev.disabled {
    opacity: .25;
    pointer-events: none;
  }