.team__wrapper {
    margin-top: 87px;
}
.team__row {
    display: flex;
    gap: 70px;
    @media (min-width:1300px) {
        &:nth-child(2){
            margin-top: -150px;
        }
        &:nth-child(3){
            margin-top: -150px;
        }
        &:nth-child(4){
            margin-top: -150px;
        }
        &:nth-child(5){
            margin-top: -150px;
        }
        &:nth-child(6){
            margin-top: -150px;
        }
        &:nth-child(7){
            margin-top: -150px;
        }
        &:nth-child(8){
            margin-top: -150px;
        }
    }
    
    @media (max-width:768px){
        flex-wrap: wrap;
    }
    @media (min-width:1900px) {
        gap: 250px;
    }
}
.team--item{
    width: 570px;
    @media (max-width:1370px) {
        width: 500px;
    }
    .card__img{
        img{
            width: 100%;
        }
    }
}

.team__item--title {
    font-weight: 400;
    font-size: 40px;
    line-height: 30px;
    color: #FFFFFF;
}
.team__item--desk {
    font-style: normal;
    font-weight: 350;
    font-size: 24px;
    line-height: 30px;
    color: #B1B1B1;
    margin-top: 36px;
}


.team__card--title {
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    color: #FFFFFF;
}
.team__card--subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #A0A0A0;
}


.about__content-title{
    background: linear-gradient(90.52deg, #22A1FF -5.53%, #CA1FFF 14.35%, #FFE101 60.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}